# Mis primero pasos en python.
Este tutorial tiene como objetivo informar al lector sobre los conceptos básicos y las funcionalidades del lenguaje de programación Python y su entorno. Se asume que el lector ya tiene Python instalado en su computadora. En esta primera sección, se presentarán los principales tipos de datos disponibles en el lenguaje.

## Uso de carácteres básico
Entre los caracteres básicos que se pueden utilizar en Python están el símbolo # (numeral) y el signo = (igual). El # se utiliza para agregar comentarios en una línea de código, mientras que el = se usa para asignar valores a una variable.

### Ejemplo

In [1]:
## Este es un primer comentario
# De esta manera de asigna valor a una variable
number =  1 
num= 1.34
print(num)

1.34

Note que si la variable no está definida (es decir, no tiene ningún valor asignado), se producirá un error.

In [2]:
var
print(var)

NameError: name 'var' is not defined

# Los tipos de datos
Los números enteros (por ejemplo, 2, 4, 20) son de tipo `int`, mientras que aquellos con parte fraccionaria (como 5.0, 1.6) pertenecen al tipo `float`. Python también permite manipular texto mediante el tipo `str`, conocido también como cadenas de caracteres. Además, existe el tipo de dato booleano, que puede ser `True` o `False`, representado por el tipo `bool`.
Con la función type, se verificará el tipo de dato. 
### Ejemplo

In [6]:
entero_1= 2
fraccionario_1= 1.55
string_1= "Hola Mundo"
casa = True
print(type(entero_1))
print(type( fraccionario_1))
print(type(string_1))
print(type(casa))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Al ejecutar el código anterior, podemos verificar el tipo de dato de cada valor y confirmar que corresponde al contenido almacenado en su interior.

# Conversión de tipos de datos
La conversión de tipos de datos es una operación que permite transformar datos de un tipo a otro. Esta capacidad permite manipular y utilizar datos de diferentes formatos y tipos en tus aplicaciones.

In [9]:
# Conversión de cadena a entero
num_str = "1233"
num_entero = int(num_str)
print(num_entero) 

# Conversión de entero a flotante
num = 56
num_float = float(num)
print(num_float)  

# Conversión de flotante a entero
num_f = 112.897
num_int = int(num_f)
print(num_int)  

# Conversión de número a cadena
num_to_str = str(456)
print(num_to_str)

1233
56.0
112
456